{% extends 'base-uboot.jinja2' %}
{% set console_device = console_device|default('ttyMV0') %}
{% set baud_rate = baud_rate|default(115200) %}
{% set device_type = "armada-370-db" %}
{% set bootloader_prompt = bootloader_prompt|default('Marvell>>') %}
{% set bootu_kernel_addr = '0x01100000' %}
{% set bootu_ramdisk_addr = '0x02000000' %}
{% set bootu_dtb_addr = '0x01000000' %}
{% set bootz_kernel_addr = '0x01100000' %}
{% set bootz_ramdisk_addr = '0x02000000' %}
{% set bootz_dtb_addr = '0x01000000' %}
{% set base_ip_args = 'ip=dhcp' %}
{% set uboot_mkimage_arch = 'arm64' %}
{% set uboot_ipaddr_cmd = 'setenv ipaddr 192.168.2.200' %}
{% set uboot_bootx_cmd = "booti {KERNEL_ADDR} {RAMDISK_ADDR} {DTB_ADDR}" %}
