{% extends 'armada-385-db-ap.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6088' %}
{% set power_off_command = '/opt/relay.py drawer8 8 off' %}
{% set power_on_command = '/opt/relay.py drawer8 8 on' %}
{% set hard_reset_command = '/opt/relay.py drawer8 8 reset' %}
{% set boot_message = 'Starting kernel' %}
