{% extends 'armada-xp-linksys-mamba.jinja2' %}
{% set connection_command = 'telnet localhost 6048' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer4 --command off --port 08 --delay 2' %}
{% set hard_reset_command = 'echo reboot' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer4 --command on --port 08 --delay 2' %}
