{% extends 'armada-370-db.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6032' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer3 --command off --port 02 --delay 2' %}
{% set hard_reset_command = 'echo reboot' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer3 --command on --port 02 --delay 2' %}
