{% extends 'armada-7040-db.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6033' %}
{% set uboot_ipaddr_cmd = "setenv ipaddr 192.168.2.201" %}
{% set power_off_command = '/opt/relay.py drawer3 3 off' %}
{% set power_on_command = '/opt/relay.py drawer3 3 on' %}
{% set hard_reset_command = '/opt/relay.py drawer3 3 reset' %}
{% set boot_message = 'Starting kernel' %}
