{% extends 'armada-8040-mcbin.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6012' %}
{% set uboot_ipaddr_cmd = "setenv ipaddr 192.168.2.213" %}
{% set power_off_command = '/opt/relay.py drawer1 2 off' %}
{% set power_on_command = '/opt/relay.py drawer1 2 on' %}
{% set hard_reset_command = '/opt/relay.py drawer1 2 reset' %}
{% set boot_message = 'Starting kernel' %}
