{% extends 'armada-398-db.jinja2' %}
{% set connection_command = 'telnet localhost 6031' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer3 --command off --port 01 --delay 2' %}
{% set hard_reset_command = 'echo reboot' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer3 --command on --port 01 --delay 2' %}
