{% extends 'armada-370-db.jinja2' %}
{% set connection_command = 'telnet localhost 6032' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer3 --command off --port 02 --delay 2' %}
{% set hard_reset_command = 'pduclient --daemon localhost --hostname drawer3 --command reboot --port 02 --delay 2' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer3 --command on --port 02 --delay 2' %}
