{% extends 'armada-8040-db.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6011' %}
{% set uboot_ipaddr_cmd = "setenv ipaddr 192.168.2.212" %}
{% set power_off_command = '/opt/relay.py drawer1 1 off' %}
{% set power_on_command = '/opt/relay.py drawer1 1 on' %}
{% set hard_reset_command = '/opt/relay.py drawer1 1 reset' %}
{% set boot_message = 'Starting kernel' %}
