{% extends 'armada-388-clearfog.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6071' %}
{% set power_off_command = '/opt/relay.py drawer7 1 off' %}
{% set power_on_command = '/opt/relay.py drawer7 1 on' %}
{% set hard_reset_command = '/opt/relay.py drawer7 1 reset' %}
{% set boot_message = 'Starting kernel' %}
