{% extends 'armada-8040-db.jinja2' %}
{% set connection_command = 'telnet localhost 6011' %}
{% set hard_reset_command = 'pduclient --daemon localhost --hostname drawer1 --command reboot --port 01 --delay 4' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer1 --command off --port 01 --delay 4' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer1 --command on --port 01 --delay 4' %}
