{% extends 'armada-3720-db.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6086' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer8 --command off --port 06 --delay 2' %}
{% set hard_reset_command = 'pduclient --daemon localhost --hostname drawer8 --command reboot --port 06 --delay 2' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer8 --command on --port 06 --delay 2' %}
{% set uboot_ipaddr_cmd = 'setenv ipaddr 192.168.2.200' %}
