{% extends 'at91sam9x25ek.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6065' %}
{% set power_off_command = '/opt/relay.py drawer6 5 off' %}
{% set power_on_command = '/opt/relay.py drawer6 5 on' %}
{% set hard_reset_command = '/opt/relay.py drawer6 5 reset' %}
{% set boot_message = 'Starting kernel' %}
