{% extends 'at91-sama5d4_xplained.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6081' %}
{% set power_off_command = '/opt/relay.py drawer8 1 off' %}
{% set power_on_command = '/opt/relay.py drawer8 1 on' %}
{% set hard_reset_command = '/opt/relay.py drawer8 1 reset' %}
{% set boot_message = 'Starting kernel' %}
