{% extends 'at91-sama5d2_xplained.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6076' %}
{% set power_off_command = '/opt/relay.py drawer7 6 off' %}
{% set power_on_command = '/opt/relay.py drawer7 6 on' %}
{% set hard_reset_command = '/opt/relay.py drawer7 6 reset' %}
{% set boot_message = 'Starting kernel' %}
