{% extends 'at91sam9261ek.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6066' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer6 --command off --port 06 --delay 2' %}
{% set hard_reset_command = 'pduclient --daemon localhost --hostname drawer6 --command reboot --port 06 --delay 2' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer6 --command on --port 06 --delay 2' %}
