{% extends 'at91rm9200ek.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6072' %}
{% set power_off_command = '/opt/relay.py drawer7 2 off' %}
{% set power_on_command = '/opt/relay.py drawer7 2 on' %}
{% set hard_reset_command = '/opt/relay.py drawer7 2 reset' %}
{% set boot_message = 'Starting kernel' %}
