{% extends 'at91-sama5d2_xplained.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6076' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer7 --command off --port 06 --delay 2' %}
{% set hard_reset_command = 'pduclient --daemon localhost --hostname drawer7 --command reboot --port 06 --delay 2' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer7 --command on --port 06 --delay 2' %}
