{% extends 'imx6q-nitrogen6x.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6064' %}
{% set power_off_command = '/opt/relay.py drawer6 4 off' %}
{% set power_on_command = '/opt/relay.py drawer6 4 on' %}
{% set hard_reset_command = '/opt/relay.py drawer6 4 reset' %}
{% set boot_message = 'Starting kernel' %}
