{% extends 'kirkwood-openblocks_a7.jinja2' %}
{% set connection_command = 'telnet localhost 6042' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer4 --command off --port 02 --delay 2' %}
{% set hard_reset_command = 'echo reboot' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer4 --command on --port 02 --delay 2' %}
