{% extends 'orion5x-rd88f5182-nas.jinja2' %}
{% set connection_command = 'telnet localhost 6087' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer8 --command off --port 07 --delay 2' %}
{% set hard_reset_command = 'pduclient --daemon localhost --hostname drawer8 --command reboot --port 07 --delay 2' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer8 --command on --port 07 --delay 2' %}
{% set uboot_ipaddr_cmd = "setenv ipaddr 192.168.2.213" %}
