{% extends 'sama53d.jinja2' %}
{% set connection_command = 'telnet localhost 6062' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer6 --command off --port 02 --delay 2' %}
{% set hard_reset_command = 'echo reboot' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer6 --command on --port 02 --delay 2' %}
