{% extends 'sama53d.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6062' %}
{% set power_off_command = '/opt/relay.py drawer6 2 off' %}
{% set power_on_command = '/opt/relay.py drawer6 2 on' %}
{% set hard_reset_command = '/opt/relay.py drawer6 2 reset' %}
{% set boot_message = 'Starting kernel' %}
