{% extends 'sama5d34ek.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6083' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer8 --command off --port 03 --delay 2' %}
{% set hard_reset_command = 'echo reboot' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer8 --command on --port 03 --delay 2' %}
