{% extends 'sama5d36ek.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6077' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer7 --command off --port 07 --delay 2' %}
{% set hard_reset_command = 'pduclient --daemon localhost --hostname drawer7 --command reboot --port 07 --delay 2' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer7 --command on --port 07 --delay 2' %}
