{% extends 'sun5i-r8-chip.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6063' %}
{% set power_off_command = '/opt/relay.py drawer6 3 off' %}
{% set power_on_command = '/opt/relay.py drawer6 3 on' %}
{% set hard_reset_command = '/opt/relay.py drawer6 3 reset' %}
{% set boot_message = 'Starting kernel' %}
