{% extends 'sun6i-a31-app4-evb1.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6045' %}
{% set power_off_command = '/opt/relay.py drawer4 5 off' %}
{% set power_on_command = '/opt/relay.py drawer4 5 on' %}
{% set hard_reset_command = '/opt/relay.py drawer4 5 reset' %}
{% set boot_message = 'Starting kernel' %}
