{% extends 'sun8i-h3-orangepi-pc.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6043' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer4 --command off --port 03 --delay 2' %}
{% set hard_reset_command = 'echo reboot' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer4 --command on --port 03 --delay 2' %}
