{% extends 'sun8i-a33-sinlinx-sina33.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6074' %}
{% set power_off_command = 'pduclient --daemon localhost --hostname drawer7 --command off --port 04 --delay 2' %}
{% set hard_reset_command = 'echo reboot' %}
{% set power_on_command = 'pduclient --daemon localhost --hostname drawer7 --command on --port 04 --delay 2' %}
