{% extends 'sun8i-h3-orangepi-pc.jinja2' %}
{% set connection_command = '/usr/local/connect_forever localhost 6043' %}
{% set power_off_command = '/opt/relay.py drawer4 3 off' %}
{% set power_on_command = '/opt/relay.py drawer4 3 on' %}
{% set hard_reset_command = '/opt/relay.py drawer4 3 reset' %}
{% set boot_message = 'Starting kernel' %}
